<h1><%= "#{@mover.user_name}'s" + " Profile" %></h1>


<div class="container">
  <h2><%= "#{@mover.first_name}" + " #{@mover.last_name}" %></h2>
  <h2><%= "Available in" + " #{@mover.service_area}" %></h2>
</div>
