<div class="container">
  <h1>All Jobs</h1>
<div class="row">
  <% @jobs.each do |post| %>
    <div class="col-md-4 post">
        <div class="user-name">
        <p><%= link_to job.name, job_path(job)%></p>
        </div>
      </div>
      <div class="image center-block">
        <%= image_tag @job.image.url(:medium) %>
      </div>
    <% end %>
  </div>
</div>
