<div class="jumbotron">
  <div class="profile container">
    <%= image_tag @user.avatar.url(:medium) %>
    <h1><%= "#{@user.username}'s" + " Portal"  %></h1>
    <p>This is a template for a simple marketing or informational website. </p>
    <div style="text-align: center"><%= link_to "Create Job", new_job_path, class: 'btn btn-primary btn-lg'%></div>
    <div style="text-align: center">
      <h2>Jobs in my Area</h2>
      <% @jobs.each do |job| %>
        <p><%= job.name %></p>
      <% end %>
    </div>
  </div>
</div>
