<div class="jumbotron">
  <div class="profile container">
    <h1><%= "#{@user.username}'s" + " Portal"  %></h1>
    <p>This is a template for a simple marketing or informational website. </p>
    <div style="text-align: center"><%= link_to "Create Job", new_job_path, class: 'btn btn-primary btn-lg'%></div>
    <div style="text-align: center">
      <h2>current movers</h2>
      <% @movers.each do |m| %>
        <p><%= link_to m.user_name, profile_path(m.user_name), class: 'btn btn-success btn-lg' %></p>
      <% end %>
    </div>
  </div>
</div>
