<div class="container">
<% @jobapps.each do |movers_app| %>
<%if movers_app.accepted %>
<h3>Current Jobs</h3>
<%="#{movers_app.user.first_name}" + " has hired you for moving help!"%>
<%elsif !movers_app.not_accepted?  && !movers_app.accepted %>
<h3>Pending Jobapps</h3>
<%="Your application for " + " #{movers_app.user.first_name}" + "\'s" + " is still pending." %>
<%else%>
<h3>Closed Jobapps</h3>
<% end %>
<% end %>
</div>
