
<div class="jumbotron">
  <div class="container">
    <div class="jobappwindow">
      <h1>Organizers & Cleaning</h1>


      <% @movers.each do |mover| %>

      <% if mover.truck_available == true %>
      <div class=".col-md-4">
        <div class="column">
          <h4><%= "#{mover.first_name}" + " #{mover.last_name}"%></h4>
          <div class="avatar"><%= image_tag mover.avatar.url(:medium) %></div>
          <h3><%= "Is available in" + " #{mover.service_area}" %></h3>
          <p><%= link_to "See Profile", mover_prof_path(mover), class: 'btn btn-success' %></p>
        </div>
      </div>
      <%end%>
      <%end%>



    </div>
  </div>
