<div class="jumbotron">
  <div class="container">
    <div class="jobappwindow">
      <h1>Your application</h1>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <p id="notice"><%= notice %></p>


          <p>
            <strong>Message:</strong>
            <%= @jobapp.message %>
          </p>
          <p><%= link_to "Edit", edit_jobapp_path(@jobapp), class: 'btn btn-success' %></p>

        </div>

      </div>

      </div>
    </div>
  </div>
</div>
