<div class="howitworks">
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="section-heading" id="how_it_works">How it Works</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-archive"></i>

          </span>
          <h4 class="service-heading">Need help moving?</h4>
          <p class="text-muted" style="font-size: 18px;">Sign up and create a post with some information about what you need moved and MUVR's in your area should get back to you right away! </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-usd"></i>

          </span>
          <h4 class="service-heading">Need extra cash?</h4>
          <p class="text-muted" style="font-size: 18px;">When becoming a Muvr, work when you want to. Whether you have a full time job and need some extra cash or you're looking for work.. Look no further. </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-cubes"></i>
          </span>
          <h4 class="service-heading">No time to organize?</h4>
          <p class="text-muted" style="font-size: 18px;">Here at Muvr, we know there is more to moving and rearranging than lifting things.  That's why we have implemented an option to be an organizer to your profile.  Get paid to help others organize and show off your skills for design. </p>
        </div>
      </div>
    </div>
  </section>

  <section id="Thewhy">
       <div class="container">
           <div class="row" id="p_row">
               <div class="col-lg-12">
                   <h1 class="section-heading" id="whyus">Why Us?</h1>
                   <p class="lead section-lead">We know there isn't enough time in the day to rearrange things, help a friend move, or rent and deal with a uHaul truck sticking out of your driveway...  </p>
                   <p class="section-paragraph">Muvr is here to make life simpler for both mover and customer.  Doesn't matter if it is cleaning out an old room in the house or moving around living room furniture, Muvr is there at the touch of a button.  Just post your job and Muvr's have the opportunity to apply!  The choice is the customers!  Muvr's have the chance to make good money helping you move, while being more convenient and less expensive than other moving companies.  Whether you need the work or need a move, we hope we can be of service to you and make your life just a little bit easier.</p>
                   <%= image_tag("muvr_logo.png", class: "featurette-image img-responsive center-block") %>
               </div>
           </div>
           <!-- /.row -->
       </div>
       <!-- /.container -->
   </section>
</div>
