/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
@import 'chosen';

html {
  height: 100%;
}

nav a:visited {
  color: #FFF !important;
}

.navbar-static-top .container-fluid {
  padding: 0 5%;
}


body {
  height: 100%
}

h1 {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 45px;
}

h1 a {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 45px;
}

h2 {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fc9f00;
  font-weight: 500;
  font-size: 25px;
}

h3 {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}

h4 {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fc9f00;
  font-weight: 500;
  font-size: 35px;
}

h5 {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #535353;
  font-weight: 700;
  font-size: 15px;
  padding-top: 10px;
}

p {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
}

.search{
  padding: 25px;
}

.field p {
  color: #ed822a;
  font-weight: 700;
  font-size: 16px;
}


.portaljobs {
  min-height: 300px;
}

.jobbox {
  background-color: #eca937;
  border: 1px solid #dedede;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

.jobbox h3 {
color: #fff;
}

.jobbox h4 {
color: #fff;
}

.jobappwindow {
  min-height: 700px;
}


.jumbotron {
  margin: 0px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.homepage {
  width: 100%;
  padding: 0;
}
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 160px;
}

.carousel-caption h1 {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 50px;
}

.carousel-caption p {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 650px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.circles {

padding-bottom: 100px;

}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  font-size: 45px;
  margin-top: 120px;
}

.featurette-image {
  border-radius: 16px 16px;
}


.profile h1 {
  margin-bottom: 30px;
}

.subheadline {
  margin-bottom: 60px;
  color: #fc9f00;
  font-weight: 500;
  font-size: 35px;
}

.btn-sq-lg {
  margin-top: 100px;
  width: 200px !important;
  height: 200px !important;
}


.signin {
  color: #fff;
  text-decoration: none;
}


.column {
  border: 1px solid #dedede;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

.image img {
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 10px;
}

.image {
  width: 300px;
  height: 220px;
  padding: 10px;
  overflow: hidden;
  vertical-align: top;
}


.avatar {
  border-radius: 10px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 8px #B1B1B1;
  border-width: 4px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  vertical-align: top;
}

.avatar img {
  min-height: 100%;
  min-width: 100%;
}

.orange_button a {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fc9f00;
  border: none;
  color: #FFF;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.profile {
  height: auto;
  background-color: #fff;
}

.orange_back {
  height: auto;
  background-color: #eca937;
}


.heightbox {
height: 570px;
}


.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

/* ## NAVBAR CUSTOMISATIONS ## */

ul.nav  a:hover { color: #eca937  !important; }

ul.nav  a {
  color: #dadada  !important;
  font-size: 14px;
}

.navbar-brand { color: #eca937  !important; }

.navbar {
  margin-bottom: 0px;
  background-color: #000;
}

.navbar-container {
  max-width: 640px;
  margin: 0 auto;
}

/* ## DEVISE CUSTOMISATIONS ## */


.registration-bg {
  padding-top: 4em;
  height: 800px;
  background-position: left top;
  background-image: url("/assets/box.jpg");
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-bg {
  padding-top: 4em;
  height: 100%;
  background-position: left top;
  background-image: url("/assets/box.jpg");
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
  margin-bottom: 80px;
}

.log-in2 {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
  margin-bottom: 100px;
}

.panel2 {
  margin-top: 60px;
  border-radius: 8px;
  margin-left: 120px
}

.panel {
  margin-top: 60px;
  border-radius: 8px;
}

.footer {
  background-color: #eca937;
  width: 100%;
  height: 400px;
}

.footer h1 {
  padding-top: 100px;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  color: #FFF;
}

.footer p {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: #FFF;
}
.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}
