/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
html {
  height: 100%;
}

nav a:visited {
  color: #FFF !important;
}

.navbar-static-top .container-fluid {
  padding: 0 5%;
}


body {
  height: 100%
}

h1 {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 45px;
}

h1 a {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 45px;
}

h2 {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fc9f00;
  font-weight: 500;
  font-size: 30px;
}

h3 {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 20px;
}

h4 {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fc9f00;
  font-weight: 500;
  font-size: 25px;
}

p {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
}

.profile h1 {
  margin-bottom: 80px;
}

.btn-sq-lg {
  margin-top: 100px;
  width: 200px !important;
  height: 200px !important;
}


.signin {
  color: #fff;
  text-decoration: none;
}


.column {
  border: 1px solid #dedede;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

.image img {
  width: 300px;
  height: 200px;
  padding: 10px;
}

.avatar {
  width: 300px;
  height: 300px;
  padding: 10px;
  overflow: hidden;
  vertical-align: top;
}

.avatar img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.orange_button a {
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fc9f00;
  border: none;
  color: #FFF;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.profile {
  height: auto;
}


.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

/* ## NAVBAR CUSTOMISATIONS ## */

ul.nav  a:hover { color: #fc9f00  !important; }

ul.nav  a {
  color: #dadada  !important;
  font-size: 14px;
}

.navbar-brand { color: #fc9f00  !important; }

.navbar {
  margin-bottom: 0px;
  background-color: #000;
}

.navbar-container {
  max-width: 640px;
  margin: 0 auto;
}

/* ## DEVISE CUSTOMISATIONS ## */


.registration-bg {
  padding-top: 4em;
  height: 100%;
  background-position: left top;
  background-image: url("/assets/box.jpg");
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-bg {
  padding-top: 4em;
  height: 100%;
  background-position: left top;
  background-image: url("/assets/box.jpg");
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.log-in-left {
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  border: none;
}

.panel {
  margin-top: 60px;
  border-radius: 8px;
}
