/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#job_image {
  margin-left: 75px;
    /*top: -.075rem;
    right: -.075rem;
    bottom: -.075rem;
    z-index: 6;*/
    /*display: block;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    content: "Browse";
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 0 .25rem .25rem 0;*/
}
